/* resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, a {
    list-style: none;
    text-decoration: none;
    color: inherit;
}
input:-webkit-autofill, 
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
input:-webkit-autofill {
    -webkit-text-fill-color: #3c4043;
}

/* body */
body {
    background-color: #fff;
    color: #3c4043;
    font-family: arial, sans-serif;
    position: relative;
    display: flex;
    width: 100vw;
    min-height: 100vh;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    width: 100%;
}

.navbar.--advanced {
    justify-content: space-between;
}

.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}
.nav-button > a{
    font-size: 13px;
}

.nav-button:hover{
    text-decoration: underline;
}

.main-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 480px;
    height: 100%;
    row-gap: 20px;
}

.main-logo{
    position: absolute;
    top: -112px;
    height: 92px;
}

.form-default{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 16px;
}

.input-default{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    column-gap: 8px;
    background-color: transparent;
    min-height: 44px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    padding: 5px 8px 0 14px;
    
}

.input-default:hover{
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: transparent;
}

.input-default:hover > input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.input-default > img {
    width: 20px;
    height: 20px;
}

.input-default > input{
    font-family: arial, sans-serif;
    line-height: 22px;
    margin-bottom: 8px;
    overflow-x: hidden;
    width: 100%;
    resize: none;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: #3c4043;
    word-wrap: break-word;
    outline: none;
    display: flex;
    -webkit-tap-highlight-color: transparent;
}

.buttons-container{
    display: flex;
    column-gap: 16px;    
}

.submit-button{
    width: 50%;;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px auto;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.submit-button:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.advanced-header{
    color: #d93025;
    font-size: 20px;
    margin-top: 85px;
    padding-left: 30px;
    padding-bottom: 35px;
    width: 100%;
    border-bottom: 1px solid #dfe1e5;
}

.advanced-container{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 100%;
}

.grid-headers{
    color: #666;
    font-weight: bold;
}

.form-grid{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 30px;
    column-gap: 16px;
    row-gap: 16px;
    max-width: 1140px;
    padding-left: 30px;
    padding-right: 15px;
}

.form-grid > p{
    font-size: 13px;
    align-self: center;
}

.advanced-input{
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}

.advanced-input:focus{
    box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
    border: 1px solid #4d90fe;
    outline: none;
}

span{
    color: #666;
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
}

.nav-logo{
    height: 30px;
}

.submit-button-advanced{
    user-select: none;
    line-height: 100%;
    height: 30px;
    width: 140px;
    box-shadow: none;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    padding: 0 12px;
    float: right;
    margin-top: 10px;
    margin-left: auto;
}

.submit-button-advanced:hover{
    background: -webkit-linear-gradient(top, #4d90fe, #357ae8);
    border: 1px solid #2f5bb7;
}

@media screen and (max-width: 1024px){
    .form-grid{
        grid-template-columns: 1fr 3fr;
    }
    .right-column{
        display: none;
    }
}